<div class="navbar">
  <a href="" class="logo">OMOB</a>
  <ul class="nav-links pull-right">
    <li><a href="">About</a></li>
    <li><a href="">Sign In</a></li>
    <li><a href="">Sign Up</a></li>
  </ul>
</div>
