<div class="navbar">
  <%= link_to "OMOB", root_path, class: "logo" %>
  <ul class="nav-links pull-right">
    <li><%= link_to "Home",  root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Sign up", sign_up_path %></li>
  </ul>
</div>
